*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
    margin-inline: 10px;
    color: #fff;
    transition: .5s;
}

.logo a{
    color: #027f7f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}
.active{
    color: #027f7f;
    text-decoration:underline;
}
li a.add-post{
    background-color:  #0e4444;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
    color: #fff;
}
li a.add-post:hover{
    background-color: #fff;
    color: #0e4444;
}
nav {
    background-color: #000f0f;
    
}
nav .contianer{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
nav .contianer ul{
    display: flex;
}

main,
.contianer{
    width: 80%;
    margin: auto;
}
/* Home Page */
.cont{
    padding-block: 50px;
}
.header{
    display: flex;
    background-color: #f8f9fa;
}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
    height: 100%;
}
.header-content{
    width: 50%;
    padding: 50px;
}
.header-caption{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 5px;
    display: inline-block;
}
.header-title{
    font-size: 24px;
    color: #000f0f;
    font-weight: 500;
}
.header-desc{
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.7;
}
.header-btn{
    color: #0e4444;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 20px;
    transition: .5s;
    text-decoration: none;
}
.header-btn:hover{
    color: #000f0f;
    text-decoration: underline;
}
/* Posts Home Page */
.posts{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-card{
    width: 250px;
    margin-bottom: 20px;
    /* background-color: #f8f9fa; */
    box-shadow: 0 0 10px #c6c6c78e;
}
.post-img{
    width: 100%;
    height: 150px;
}
.info{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    margin-bottom: 10px;
}
.info span{
    color: gray;
}
.action button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
}
.action button.btn-del{
    color: red;
    margin-right: 5px;
}
.action button.btn-edit{
    color: #00b3ff;
}
.post-content{
    padding: 10px;
}
.post-title a{
    color: #000f0f;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: .5s;
}
.post-title:hover a{
    color: #0e4444;
}
.post-desc{
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 5px;
}
.form-container{
    background-color: #0e4444;
    width: 400px;
    margin: auto;
    padding: 20px;
}
.form-heading{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}
.form-title label,
.form-textarea label{
    color: gray;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: block;
}
.form-title input ,
.form-textarea textarea{
    width: 100%;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    /* border-radius: 5px; */
    color: gray;
    margin-bottom: 10px;
}
.form-btn{
    color: #0e4444;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 20px;
    transition: .5s;
    /* border-radius: 5px; */
    border: 0;
    outline: 0;
    cursor: pointer;
}
.single-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    width: 600px;
    margin: auto;
}
.single-post-img{
    width: 600px;

}
.single-post-img img{
    width: 100%;
    height: 100%;
}
.single-post-content{
    padding: 20px 10px;
}
.single-post-caption{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
    display: inline-block;
}
.single-post-title{
    font-size: 24px;
    color: #000f0f;
    font-weight: 500;
    margin-bottom: 10px;
}
.single-post-desc{
    color: gray;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.7;
}
footer{
    background-color: #000f0f;
    padding: 40px 20px;
}
footer .contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .contianer .footer-icon{
    margin-bottom: 20px;
}
footer .contianer .footer-icon a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}
footer .contianer ul{
    display: flex;
}